<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.togedog.togedog"
    android:versionCode="1"
    android:versionName="1.1">

    <meta-data android:value="@integer/google_play_services_version" android:name="com.google.android.gms.version"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAd8pp-esJGYkH5UY9r5PZ7B5_ChDL-GEs"/>

        <activity android:name=".BookmarkActivity"></activity>

        <activity android:name=".SignupActivity" android:configChanges="keyboardHidden|orientation|screenSize" ></activity>

        <activity android:name=".ChatActivity"></activity>

        <activity android:name=".InforActivity" android:screenOrientation="sensor" android:theme="@style/Theme.MyDialog"></activity>

        <activity android:name=".CreateActivity"></activity>

        <activity android:name=".VotelayoutActivity" android:screenOrientation="sensor" android:theme="@style/Theme.MyDialog"></activity>

        <activity android:name=".VoteActivity" android:screenOrientation="sensor" android:theme="@style/Theme.MyDialog"></activity>

        <activity android:name=".MemberActivity" android:screenOrientation="sensor" android:theme="@style/Theme.MyDialog"></activity>

        <meta-data android:value="AIzaSyAd8pp-esJGYkH5UY9r5PZ7B5_ChDL-GEs" android:name="com.google.android.geo.API_KEY"/>
    </application>

</manifest>